.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.positionBadge {
    position: absolute;
    top: 30px;
}

.shopPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}
.shopPage .form-control-sm{
    width: 100%;
}


@media (min-width: 992px) {
    .column30 {
        width: calc(33.33% - 1.5rem);
        display: flex;
    }

    .shopPage .card .row{
        flex-direction: column;
    }
    .shopPage {
        display: grid;
        grid-template-columns: 65% auto;
        padding: 2rem;
        justify-items: center;
        align-items: flex-start;
    }
    .shopPage .colShopPage {
        width: 100%;
    }
}