
.homeContainer img {
    object-fit: cover;
    height: 10rem;
 }

 @media (min-width: 992px) {
    .homeContainer img {
        height: 28rem;
        object-fit: cover;
     }
     .homeContainer{
        margin: 2rem 10rem 2rem 10rem;
    }
 }